{% if request.user.username %}
    <div id="django-engage">
        <style>
            .loading {
                visibility: hidden;
            }
            #django-engage {
                position: fixed;
                font-family: sans-serif;
                right: 0;
                bottom: 0;
                width: 350px;
            }
            #engage-message-box input {
                width: 100%;
                height: 3em;
                border: 1px solid #417690;
            }
            #engage-message-box input:focus {
                outline: none;
            }
            #message-list {
                height: 300px;
                width: 100%;
                background: #ffc;
                border: 1px solid #417690;
                overflow: auto;
            }
            .to, .from {
                clear: both;
                padding: 0.5em 1em;
                margin: 0.25em 1em;
                border-radius: 0.5em;
                border: 1px solid #efefef;
            }
            .to {
                float: right;
                background: white;
                margin-left: 4em;
            }
            .from {
                float: left;
                background: #eee;
                margin-right: 4em;
            }
            .message {
                clear: both;
            }
            .time {
                font-size: 0.1em;
                color: #aaa;
                float: right;
            }
            .title {
                background-color: #417690;
                color: #ffc;
                width: 100%;
                padding: 0.8em 1em;
            }
        </style>
        {% load staticfiles %}
        {% load swampdragon_tags %}
        <div id="engage-message-box" class="loading">
            <div class="title">Need help?</div>
            <div id="message-list">
                <div class="from">
                    <div class="message">Hello</div>
                    <div class="time">11:30 PM</div>
                </div>
                <div class="to">
                    <div class="message">hi</div>
                    <div class="time">11:32 PM</div>
                </div>
                <div class="to">
                    <div class="message">Can you help me with something. I am not able to find on how to change the settings for privacy.</div>
                    <div class="time">11:39 PM</div>
                </div>
                <div class="from">
                    <div class="message">Sure thing. You can find the settings under Your User profile which can be accessed by clicking your profile photo.</div>
                    <div class="time">11:40 PM</div>
                </div>
            </div>
            <input type="text" id="message" value="" onkeypress="enterHandler(event, this)">
        </div>
        {% swampdragon_settings %}
        <script src="{% static 'swampdragon/js/dist/swampdragon.min.js' %}"></script>

        <script id="message_template" type="template">
            <div class="{$direction$}">
                <div class="message">{$message$}</div>
                <div class="time">{$time$}</div>
            </div>
        </script>

        <script>
            (function(window) {
                'use strict';
                function MessageBox(box_id) {
                    this.elem = document.querySelector(box_id);
                    this.msgArr = [];
                    this.template = document.querySelector('#message_template')
                                                .innerHTML;
                }

                MessageBox.prototype.render = function() {
                    var self = this;
                    this.elem.innerHTML = this.msgArr.map(function(components) {
                        var output = self.template;
                        for (var name in components) {
                            output = output.replace('{$' + name + '$}', components[name]);
                        }
                        return output;
                    }).join('');
                    this.elem.scrollTop = this.elem.scrollHeight;
                };

                MessageBox.prototype.push = function(msg, time, direction) {
                    this.msgArr.push({'message': msg, 'time': time, 'direction':direction});
                    this.render();
                };

                window.MessageBox = MessageBox;

            })(window);

            (function(window){
                'use strict';

                var $ = document.querySelectorAll.bind(document);
                var mbox = $('#engage-message-box')[0];
                var msgbox = new MessageBox('#message-list');
                swampdragon.ready(function() {
                    console.log('Started connection ' + new Date());
                });
                swampdragon.open(function() {
                    console.log('{{ request.user.username }} connected');
                    mbox.classList.remove('loading');
                });
                function sendMessage(text) {
                    swampdragon.create('user-message', { 'text': text });
                }
                window.enterHandler = function (e, input) {
                    if (e.keyCode === 13 && input.value) {
                        sendMessage(input.value);
                        msgbox.push(input.value, new Date(), 'to');
                        input.value = '';
                    }
                };

            })(window);


        </script>
    </div>
{% endif %}
